body {
  background-color: rgb(222, 206, 206);
  color: rgb(12, 11, 11);
}

.areapublicidad{
  color: rgb(133, 120, 102);
  background-color: rgb(136, 56, 38);
}

.footer{
  color: #fff;
  background-color: black;
}